@import "tailwindcss";

@theme {
  --color-teal-50: #fff1f1;
  --color-teal-100: #ffe1e1;
  --color-teal-200: #ffc7c7;
  --color-teal-300: #ffa0a0;
  --color-teal-400: #ff6b6b;
  --color-teal-500: #ed3636;
  --color-teal-600: #9e1e22;
  --color-teal-700: #7e171a;
  --color-teal-800: #681619;
  --color-teal-900: #551618;
  --color-teal-950: #2b0b0c;

  --color-ufma-blue-50: #eef4ff;
  --color-ufma-blue-100: #e0eafe;
  --color-ufma-blue-200: #c5d8fd;
  --color-ufma-blue-300: #a3bffa;
  --color-ufma-blue-400: #7a9ff5;
  --color-ufma-blue-500: #507af0;
  --color-ufma-blue-600: #3258e0;
  --color-ufma-blue-700: #1b3d74;
  --color-ufma-blue-800: #1e3a68;
  --color-ufma-blue-900: #1e355b;
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}